<div class="container mx-auto max-w-xl px-4 py-8">
  <h1 style="color: #073472;" class="text-2xl font-bold text-center mb-8">新規登録</h1>

  <%= form_with(model: @user, local: true) do |f| %>
    <% if @user.errors.any? %>
      <div class="space-y-2 mb-4 mx-auto w-3/5">
        <% @user.errors.full_messages.each do |message| %>
          <div class="alert alert-error w-full text-sm shadow-lg">
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="space-y-6">
      <div class="mx-auto w-3/5">
        <%= f.label :name, "ユーザーネーム", class: "label", style: "color: #073472;" %>
        <%= f.text_field :name, class: "input input-bordered w-full", style: "background-color: #FFFFFF;" %>
      </div>

      <div class="mx-auto w-3/5">
        <%= f.label :email, "メールアドレス", class: "label", style: "color: #073472;" %>
        <%= f.email_field :email, class: "input input-bordered w-full", style: "background-color: #FFFFFF;" %>
      </div>

      <div class="mx-auto w-3/5">
        <%= f.label :password, "パスワード", class: "label", style: "color: #073472;" %>
        <%= f.password_field :password, class: "input input-bordered w-full", style: "background-color: #FFFFFF;" %>
      </div>

      <div class="mx-auto w-3/5">
        <%= f.label :password_confirmation, "パスワード再入力", class: "label", style: "color: #073472;" %>
        <%= f.password_field :password_confirmation, class: "input input-bordered w-full", style: "background-color: #FFFFFF;" %>
      </div>

      <div class="text-center text-sm">
        または
      <div>

      <div class="text-center mt-8 flex justify-center">
        <%= link_to auth_at_provider_path(:google), class: "inline-block" do %>
          <%= image_tag "google_sign_up.png", class: "mx-auto w-3/5" %>
        <% end %>
      </div>
    </div>

      <div class="text-center mt-8">
        <%= f.submit "新規登録", class: "btn custom-text border-none hover:opacity-80", style: "background-color: #4981CF;" %>
      </div>
    </div>
  <% end %>

  <div class="text-center mt-4">
    <%= link_to 'ログインページはこちら', login_path , style: "color: #073472;" %>
  </div>
</div>
