<!DOCTYPE html>
<html data-theme="sakura" class="font-inter">
  <head>
    <title><%= content_for(:title) || "Sakura Thanks" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 基本的なOGPタグ -->
    <meta property="og:title" content="<%= content_for(:og_title) || "Sakura Thanks" %>">
    <meta property="og:description" content="<%= content_for(:og_description) || "思い出の桜写真で大切な人に感謝を伝えよう" %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= content_for(:og_image) || asset_url("default_og_image.jpg") %>">
    
    <!-- X (Twitter) 用メタタグ -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yuichi_57">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

<body class="min-h-screen bg-base-100 flex flex-col">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <main class="flex-grow">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
